/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* .cus-active {
    @apply border-b-4 rounded-none relative;
} */

body {
    /* font-family: 'open-sans'; */
}


.cus-active {
    position: relative;
}

.cus-active::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 0;
}


@media screen and (max-width: 767px) {
    .cus-active::after {
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 1px;
    }
}



.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

/* Selected date and time background */
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
    background: #0B3C49 !important;
    color: white !important;
}

/* Hover effect for days */
.flatpickr-day:hover {
    background: rgba(11, 60, 73, 0.2) !important;
    color: #0B3C49 !important;
}


.pagination-btn {
    @apply border border-gray-300 text-gray-700 px-3 py-2 rounded-md hover: bg-gray-100 focus:outline-none;
}

.pagination-btn.active {
    @apply border-blue-500 text-blue-600 bg-blue-100;
}


/* Ensure the container hides overflowing content */
#scrollable-banner {
    overflow: hidden;
    /* Hides other banners outside the viewport */
    display: flex;
    /* Align banners horizontally */
    transition: transform 0.5s ease-in-out;
    /* Smooth slide transition */
    scroll-behavior: smooth;
    /* Smooth scrolling */
}

#scrollable-banner>div {
    flex-shrink: 0;
    /* Prevent banners from shrinking */
    width: 100%;
    /* Make each banner take the full width */
}


.scrolling {
    cursor: grabbing;
    user-select: none;
}

/* Card Ribbon */
.card__ribbon {
    width: 6.5em;
    height: 6.5em;
    position: absolute;
    top: -1em;
    left: -1em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card__ribbon::after {
    content: 'New';
    position: absolute;
    width: 140%;
    height: 2.35em;
    background-color: #fbc02d; /* Yellow Color */
    transform: rotate(-45deg) translateY(-1.1em);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #000; /* Black Text */
    font-weight: 600;
    letter-spacing: 0.1em;
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.2);
}

.card__ribbon::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1em;
    height: 1em;
    background-color: #fbc02d; /* Matches Ribbon Background */
    box-shadow: 11em -11em #fbc02d;
}

